[submodule "ruby/.rbenv"]
  path = ruby/.rbenv
  url = https://github.com/sstephenson/rbenv.git

[submodule "ruby/.rbenv-plugins/ruby-build"]
  path = ruby/.rbenv-plugins/ruby-build
  url = https://github.com/sstephenson/ruby-build.git

